@import compass/css3
ul
    list-style: none
    margin: 0
    padding: 0

%cf:before,
%cf:after
    content: " "
    display: table

%cf:after
    clear: both
.cf
    *zoom: 1

// .chill-slide__container
.slider
    position: relative
    overflow-x: scroll
    margin: 6em 0
    ul
        @extend %cf
    li
        float: left
        padding: 0 5px 5px 0
    img
        +opacity(0)
        +transition(opacity 0.3s ease)
    &.loaded
        img
            +opacity(1)


@for $i from 1 through 40
    .chill-slide__container
        li:nth-child(#{$i}) img
            +transition-delay(#{0.05s * $i})